* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #E5E5E5;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #E5E5E5;
  padding: 1rem;
}

#header:nth-child(1) {
  align-self: flex-start;
}

.planet-logo {
  max-height: 3rem;
}

.card-holder {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #E5E5E5;
}

.planet-card {
  background-color: #FCA311;
  margin: 1rem;
  padding: 0.5rem;
}

.planet-card h3 {
  font-style: italic;
  text-decoration: underline;
  padding: 0.2rem;
  border: 3px solid #E5E5E5;
  margin: 0.2rem
}

@media (min-width: 600px) {
  .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  /* .planet-card {
    min-width: 20rem;
  } */

}