* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #E5E5E5;
  text-align: center;
}

#header {
  background-color: #000000;
  color: #E5E5E5;
  padding: 1rem;
}

.card-holder {
  background-color: #E5E5E5;
}

.planet-card {
  background-color: #FCA311;
  margin: 1rem;
  padding: 0.5rem;
}

.planet-card h3 {
  font-style: italic;
  text-decoration: underline;
  padding: 0.2rem;
  border: 3px solid #E5E5E5;
  margin: 0.2rem
}

@media (min-width: 600px) {
  .card-holder {
    display: flex;

  }
}